---
// import '../_assets/styles/styles.css'

import Layout from '@layouts/Layout.astro';

---

<Layout>
    <!-- <Header /> -->
    <main class="main-content">
        <div class="container">
            IPS
        </div>
    </main>
    <!-- <Footer /> -->
</Layout>
