<div class="item item-form animate__animated animate__bounceInDown">
    <div class="card shadow">
        <div class="card-body">

            <div class="container-form">
                <h1 class="title-form">Sign In With SSO</h1>

                <form action="/main/">
                    <div class="row">
                        <label class="col-md-8 col-sm-8 mb-3">
                            <strong>Language:</strong>
                            <select id="language" name="language" class="form-select" required>
                                <option value="1" selected="selected">
                                    English - English
                                </option>
                            </select>
                        </label>

                        <label class="col-md-4 col-sm-4 mb-3">
                            <strong>Select Year:</strong>
                            <select id="ano" name="ano" class="form-select" required="">
                                <option value="2025" selected="selected">2025</option>
                            </select>
                        </label>
                    </div>

                    <label class="d-block mb-3">
                        <strong>Email:</strong>
                        <input type="text" name="id" class="form-control" required value="admin@admin.com">
                    </label>

                    <button type="submit" class="btn btn-submit">Sing In</button>
                </form>

                <div class="text-center">
                    <a class="text-dark fw-bold" href="">Need Help?</a>
                </div>
            </div>

        </div>
    </div>
</div>

<style is:inline>
    .btn-showPass {
        position: absolute;
        margin-top: 10px;
        top: 50%;
        right: 0.25rem;
        transform: translateY(-50%);
    }
</style>

<script is:inline>
    function showAllPassword() {
        let btnShowAllPassword = document.querySelectorAll(".btn-showPass");

        btnShowAllPassword.forEach((item) => {
            item.addEventListener("click", () => {

                item.children[0].classList.toggle("bi-unlock");
                const inputPass = item.previousElementSibling;
                const type =
                    inputPass.getAttribute("type") === "password"
                        ? "text"
                        : "password";
                inputPass.setAttribute("type", type);
            });
        });
    }
    showAllPassword()
</script>
