<style>
    /* --------------------------------------------------------------------
    splide-banner
    ---------------------------------------------------------------------- */
    #splide-banner{
        /* height: 380px; */
        border-radius: var(--bs-border-radius) !important;
        background-color: #fff;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    #splide-banner .splide__slide{
        overflow: hidden;
    }
    #splide-banner .splide__slide .content{
        position: relative;
        display: flex;
        padding: 2rem 3rem;
        height: 100%;
    }
    #splide-banner .splide__slide img {
        /* width: 100%;
        height: 100%;
        object-fit: cover; */
    }
    .splide__arrow {
        background: 0;
    }
    .splide__arrow svg {
        fill: #000;
        height: 0.85rem;
        width: 0.85rem;
    }
    .splide__arrow--prev {
        left: -1.3rem;
    }
    .splide__arrow--next {
        right: -1.3rem;
    }


</style>

<div class="item mb-3 rounded overflow-hidden">
    <section class="splide splide-default" id="splide-banner">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide" data-splide-interval="7000">

                    <div class="content">
                        <div class="d-flex flex-column justify-content-center w-100 h-100 text-dark">
                            <div class="d-flex gap-4 w-100">
                                <div class="fs-5 flex-fill">
                                    <h2 class="mb-5">
                                        <img src="/assets/images/pages/main/megafone1.png?v=1.0" style="max-width: 90px;"/>
                                        <span class="border-bottom border-success">IMPORTANT NOTICE</span>
                                    </h2>
                                    <div class="ps-3">
                                        <p>For the month of January, the Pilar Assessments<br>module is avail</p>
                                        <p>Don't miss the deadline and send your checklist!</p>
                                    </div>
                                </div>

                                <div>
                                    <img class="img-fluid" src="/assets/images/pages/main/note1.png?v=1.0" style="max-width: 340px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </section>
</div>

<script is:inline>
    addEventListener("load", () => {
        new Splide("#splide-banner", {
            autoplay: true,
            type: "loop",
            gap: "1rem",
            padding: '0',
            pagination : false,
            pauseOnHover: true,
            pauseOnFocus: true,
            fixedHeight: "350px",
        }).mount();
    });
</script>
