---
import '@styles/styles.css'

import Layout from '@layouts/Layout.astro';
import Header from '@includes/header.astro';
import Footer from '@includes/footer.astro';

import ContentHero from './_content-hero.astro';
import ContentCards from './_content-cards.astro';
import ContentSlide from './_content-slide.astro';

---

<Layout>
    <Header />
    <ContentHero />
    <main class="main-content">
        <div class="container-fluid">
            <div class="overflow-visible">
                <section class="row row-main">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-12">
                        <ContentCards />
                    </div>

                    <div class="col-xxl-8 col-xl-7 col-lg-7 col-md-12">
                        <ContentSlide />
                    </div>
                </section>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<style>
    .row-main{
        margin-top: -4.5rem;
    }

</style>
