---
import '@styles/styles.css'

import Layout from '@layouts/Layout.astro';
import Header from '@includes/header.astro';
import Footer from '@includes/footer.astro';

import ContentHero from './_content-hero.astro';
import ContentGridCard from './_content-grid-card.astro';

---

<Layout>
    <Header />
    <ContentHero />
    <main class="main-content">
        <div class="container">
            <ContentGridCard />
        </div>
    </main>
    <Footer />
</Layout>
