---
import '@styles/styles.css'

import Layout from '@layouts/Layout.astro';
import Header from '@includes/header.astro';
import Footer from '@includes/footer.astro';

import ContentHero from './_content-hero.astro';
import ContentCards from './_content-cards.astro';
import ContentSlide from './_content-slide.astro';

---

<Layout>
    <Header />
    <ContentHero />
    <main class="main-content">
        <div class="container">
            <div class="overflow-visible">
                <section class="grid-main">
                    <div class="box-grid">
                        <ContentCards />
                    </div>

                    <div class="box-grid">
                        <ContentSlide />
                    </div>
                </section>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<style>
    .grid-main{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        margin-top: -3.5rem;
    }
    .grid-main .box-grid{
        justify-self: stretch;
        align-self: stretch;
    }
    @media (max-width: 576px) {
        .grid-main {
            grid-template-columns: 1fr;
        }
    }
</style>
