---
import Layout from '@layouts/Layout.astro';
import ContentHeader from './_content-header.astro';
import ContentGridCard from './_content-grid-card.astro';
import ContentHero from './_content-hero.astro';
import Footer from './_partials/footer.astro';

---

<Layout>
    <ContentHeader />
    <ContentHero />
    <main class="main-content">
        <ContentGridCard />
        
    </main>
    <Footer />
</Layout>

<style is:inline>
    html, body {
    height: 100%;
}
    body {
        display: flex;
        flex-direction: column;
        color: #101113;
        font-size: .9rem;
        font-family: Roboto, sans-serif;
        overflow-x: hidden;
    }
    .main-content {
        flex: 1;
    }

    /* body > section, body > footer {
        position: relative;
        margin: 0 auto;
        padding: 6.25rem 0;
        overflow: hidden;
    } */
    .container {
        max-width: 1140px;
    }
</style>